.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  overflow-wrap: break-word;
}
button {
  margin-bottom: 18px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px 18px;
  font-size: 30px;
}
